$color1: #fff;
$color2: #1abc9c;
$size: 10px;
$screen: 100px;
$flex: 10%;

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: $size*8;
    text-align: center;
    background: $color2;
    color: $color1;
}

.header h1 {
    font-size: $size*4;
}

.navbar {
    overflow: hidden;
    background-color: darken($color1, 80);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: $color1;
    text-align: center;
    padding: $size*1.4 $size*2;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: darken($color1, 18.6);  
    color: darken($color1, 100);
}

.navbar a.active {
    background-color: darken($color1,60);
    color: $color1;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.side {
    -ms-flex: $flex*3;
    flex: $flex*3;
    background: darken($color1, 5.5);
    padding: $size*2;
}

.main {
    -ms-flex: $flex*7;
    flex: $flex*7;
    background-color: $color1;
    padding: $size*2;
}

.img {
    background-color: darken($color1, 37.3);
    width: $size*25;
    height: $size*35;
    padding: $size*2;
}

.footer {
    padding: $size;
    text-align: center;
    background: darken($color1, 18.6);
}

@media screen and (max-width: $screen*7) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: $screen*4) {
    .navbar a {
        float: none;
        width: 100%;
    }
}